.header {
    width: 1052px;
    height: 105px;
    margin: 92px 24px;
    display: grid;
    grid-template-columns: 391.48px 148px 240.52px;
    background-color: blueviolet;
}

.header-menu {
    width: 391.48px;
    height: 22px;   
}

.header-link-list {
    display: flex;
    margin: 44px 36px 39px 26.52px;
    justify-content: space-between;    
}

.header__links-list-item_no-bullet {
    list-style: none;    
}

.header__links-list-item {
    list-style: circle;       
}

.header__logo-image {
    width: 124.05px;
height: 94.84px;
top: 2.79px;
left: 11.39px;
gap: 0px;
border: 6px 0px 0px 0px;
opacity: 0px;

}

.address {
    width: 240.52px;
    height: 98px;
}