.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    padding: 92px 50px;
    justify-content: space-between;
    
    
}

.header-menu {
    align-items: center; 
    justify-content: center;
    
}

.header__link {
    text-decoration: underline;
}

.header__links-list-item_no-bullet {
    list-style: none;    
}

.header__links-list-item {
    list-style: circle;       
}

.header-link-list {
    display: flex;
    margin: 44px 36px 39px 26.52px;
    justify-content: space-between;    
}

.address {
    justify-self: end;
}

/* секция cover */

.cover {
    display: flex;
    flex-direction: column;
    background-image: url("/images/cover.jpg");
    height: 757px;
    
}

.title-text {
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
    color: #ffff;
    text-transform: uppercase;
    padding:165px 50px 237px 50px;
    display: flex;
    flex-direction: column;

}



.aligned-text-center {
    text-align: center;
}

.aligned-text-right {
    text-align: right;
}

.subline {
    display: flex;
}

.subline-text {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: #ffff;
    text-transform: uppercase;
}

.subline-button {
    border: 1px solid #ffff;
    background: transparent;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    text-align: center;
    color: #ffff;
    padding: 12px 32px 11px 31px;
}

/* секция lots */

.lots {
    height: 692px;
}

.lots-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.lots-card-left {
    background-image: url("/images/card-lot-01.jpg");
    height: 563px;
    padding: 51px 40px 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lots-card-center {
    background-image: url("/images/card-lot-02.jpg");
    height: 563px;
    padding: 51px 40px 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lots-card-right {
    background-image: url("/images/card-lot-03.jpg");
    height: 563px;
    padding: 51px 40px 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-heading {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: #ffff;
    text-transform: uppercase;
}

.card-text {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #ffff;
}

.lots-link {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;
    text-decoration: underline;
}

/* Секция about */

.about {
    display: flex;
    flex-direction: row;
    height: 595px;
    
}

.about__logo {
    width: 240px;
    height: 240px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    
}

.about__logo-image {
    width: 148px;
    height: 114px;
}